# Database dumps
db-dumps/

# JetBrains IDE files
.idea/

# Dia lock files
*.dia~

# "Compiled" diagrams
diagrams/

# Python virtual environments and cache
venv/
__pycache__/

# MS Word documents
*.doc*

# Old files
old/

