<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Column-oriented layout</title>

    <style>
        .links line {
            stroke: #999999;
            stroke-opacity: 0.6;
        }

        .nodes circle {
            stroke: #ffffff;
            stroke-width: 1.5px;
        }
    </style>
</head>
<body>
<script>
    const my_data = {{ network|safe }};
    console.log(my_data);

    let nestedLevels = d3.nest()
        .key(function (d) {
            return d.id[2];
        })
        .entries(my_data.nodes);

    console.log(nestedLevels);

    // attrs of svg
    const width = 960;
    const height = 960;

    const xMargin = width / 10;
    const yMargin = height / 10;

    // D3 stuff
    let svg = d3.select("body")
                .append("div")
                .attr("id", "fd-graph")
                .append("svg")
                .attr("width", width)
                .attr("height", height);

    const nodeRadius = 5;

    // equal x-spacing (may want to change this to d3.scaleBand when doing rects)
    let xScale = d3.scalePoint(
        _.map(nestedLevels, 'key'),
        [xMargin + nodeRadius, width - xMargin - nodeRadius]
    );

    // colour-coding the groups
    let schoolCodes = _.uniqBy(my_data.nodes, function (n) {
        return n.id.substring(0, 2);
    });
    let colours = d3.scaleOrdinal(schoolCodes, d3.schemeCategory10);

    let levelGroups = svg.selectAll("myGroups")
        .data(nestedLevels)
        .enter()
        .append("g")
            .attr("transform", function (d) {
                // return "translate(" + d.key * 5 * nodeRadius + ", 0)";
                // console.log(d.key);
                // console.log(xScale(d.key));
                return "translate(" + xScale(d.key) + ", 0)";
            });

    let circles = levelGroups.selectAll("myCircles")
        .data(function (d) {
            return d.values;
        })
        .enter()
        .append("circle")
            .attr("id", function (d) {
                return d.id;
            })
            .attr("cy", function (d, i) {
                return nodeRadius + i * 2 * nodeRadius;
                // bottom-alignment:
                // return width - yMargin - (nodeRadius + i * 2 * nodeRadius);
            })
            .attr("r", nodeRadius)
            .attr("fill", function (d) {
                return colours(d.id.substring(0, 2))
            })
        .append("title")
            .text(function (d) {
                return d.id;
            });

    // linear links
    // let links = svg.selectAll("myLinks")
    //     .data(my_data.links)
    //     .enter()
    //     .append("line")
    //         .attr("x1", function (d) {
    //             return xScale(parseInt(d.source[2]));
    //         })
    //         .attr("y1", function (d) {
    //             return parseFloat(d3.select("#" + d.source).attr("cy"));
    //         })
    //         .attr("x2", function (d) {
    //             return xScale(parseInt(d.target[2]));
    //         })
    //         .attr("y2", function (d) {
    //             return parseFloat(d3.select("#" + d.target).attr("cy"));
    //         })
    //         .attr("stroke", "#999999")
    //         .attr("stroke-fill", "0.7");

    // cubic bezier links
    let horizontalLinkGenerator = d3.linkHorizontal();
    let verticalLinkGenerator = d3.linkVertical();
    let cubicLinks = svg.selectAll("myCubicLinks")
        .data(my_data.links)
        .enter()
        .append("path")
            .attr("d", function (d) {
                // find the coordinates, with translation
                let x1 = xScale(parseInt(d.source[2])),
                    y1 = parseFloat(d3.select("#" + d.source).attr("cy")),
                    x2 = xScale(parseInt(d.target[2])),
                    y2 = parseFloat(d3.select("#" + d.target).attr("cy"));

                // store the coordinates in an object
                let coords = {
                    "source": [x1, y1],
                    "target": [x2, y2]
                };

                // if the link is vertical, use the vertical generator
                if (x1 === x2) {
                    return verticalLinkGenerator(coords);
                } else {
                    return horizontalLinkGenerator(coords);
                }
            })
            .attr("stroke", "#999999")
            .attr("fill", "none");

</script>
</body>
</html>