<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Column-oriented layout</title>

    <style>
        .links line {
            stroke: #999999;
            stroke-opacity: 0.6;
        }

        .nodes circle {
            stroke: #ffffff;
            stroke-width: 1.5px;
        }
    </style>
</head>
<body>
<script>
    const my_data = {{ network|safe }};
    console.log(my_data);

    let nestedLevels = d3.nest()
        .key(function (d) {
            return d.id[2];
        })
        .entries(my_data.nodes);

    console.log(nestedLevels);

    // attrs of svg
    const width = 960;
    const height = 960;

    const xMargin = width / 10;
    const yMargin = height / 10;

    // D3 stuff
    let svg = d3.select("body")
                .append("div")
                .attr("id", "fd-graph")
                .append("svg")
                .attr("width", width)
                .attr("height", height);

    const nodeRadius = 5;

    let levelGroups = svg.selectAll("myGroups")
        .data(nestedLevels)
        .enter()
        .append("g")
            .attr("transform", function (d) {
                return "translate(" + d.key * 5 * nodeRadius + ", 0)";
            });

    let circles = levelGroups.selectAll("myCircles")
        .data(function (d) {
            return d.values;
        })
        .enter()
        .append("circle")
            .attr("cy", function (d, i) {
                return i * 2 * nodeRadius;
            })
            .attr("r", nodeRadius);

</script>
</body>
</html>