<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UoStA Module Visualisation</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <!-- sidebar -->
        <div class="col" id="sidebar">
            <ul class="list-group">
                <li>
                    <div class="form-group">
                        <label for="schools">School:</label>
                        <input type="text" class="form-control" id="schools">
                    </div>
                    <div class="form-group">
                        <label for="semesters">Semester:</label>
                        <input type="text" class="form-control" id="semesters">
                    </div>
                    <div class="form-group">
                        <label for="credit-worth">Credit worth:</label>
                        <input type="text" class="form-control" id="credit-worth">
                    </div>
                </li>
            </ul>
        </div>
        <!-- content -->
        <div class="col" id="content">
            <nav class="navbar navbar-expand-sm bg-light">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link">Visualisation</a></li>
                    <li class="page-item"><a class="page-link">My modules</a></li>
                    <li class="page-item"><a class="page-link">Admin</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>