path {
    fill: none;
    stroke-opacity: 0.1;
}

path.highlighted {
    stroke-opacity: 0.7;
    stroke-width: 2px;
}

rect {
    fill-opacity: 0.7;
}

rect.highlighted {
    stroke: black;
    outline-width: 2pt;
    fill-opacity: 1.0;
}

.pre-req path {
    stroke: forestgreen;
}

.anti-req path {
    stroke: crimson;
}

.co-req path {
    stroke: cornflowerblue;
}
